@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {

  /* Custom Dark Scrollbar for Webkit (Chrome, Safari, Edge) */
  .scrollbar-thin-dark::-webkit-scrollbar {
    height: 8px;
    /* Thin height for horizontal scrollbar */
    width: 8px;
    /* Thin width for vertical scrollbar */
  }

  .scrollbar-thin-dark::-webkit-scrollbar-track {
    background: transparent;
    /* The track is invisible */
  }

  .scrollbar-thin-dark::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    /* Zinc-700 */
    border-radius: 9999px;
    /* Pill shape */
    border: 3px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
    /* Zinc-600 */
  }
}