--
-- PostgreSQL database dump
--

\restrict 74gB5dsTQNa8duoEkLidcHKSae7vaOpymAVuv6BadlTguQ7dNO9Lar9wnK1akXK

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_conversation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_conversation (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.api_conversation OWNER TO postgres;

--
-- Name: api_conversation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_conversation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_conversation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_conversation_participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_conversation_participants (
    id bigint NOT NULL,
    conversation_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.api_conversation_participants OWNER TO postgres;

--
-- Name: api_conversation_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_conversation_participants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_conversation_participants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_follow; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_follow (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    follower_id bigint NOT NULL,
    following_id bigint NOT NULL
);


ALTER TABLE public.api_follow OWNER TO postgres;

--
-- Name: api_follow_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_follow ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_follow_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_interest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_interest (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    slug character varying(50) NOT NULL
);


ALTER TABLE public.api_interest OWNER TO postgres;

--
-- Name: api_interest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_interest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_interest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_libraryentry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_libraryentry (
    id bigint NOT NULL,
    playtime_forever integer NOT NULL,
    platform character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    added_at timestamp with time zone NOT NULL,
    game_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.api_libraryentry OWNER TO postgres;

--
-- Name: api_libraryentry_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_libraryentry ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_libraryentry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_message (
    id bigint NOT NULL,
    content text NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    conversation_id bigint NOT NULL,
    sender_id bigint NOT NULL
);


ALTER TABLE public.api_message OWNER TO postgres;

--
-- Name: api_message_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_notification (
    id bigint NOT NULL,
    verb character varying(255) NOT NULL,
    target_id integer,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    actor_id bigint NOT NULL,
    recipient_id bigint NOT NULL,
    target_type_id integer,
    CONSTRAINT api_notification_target_id_check CHECK ((target_id >= 0))
);


ALTER TABLE public.api_notification OWNER TO postgres;

--
-- Name: api_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    bio text NOT NULL,
    avatar character varying(100),
    cover_image character varying(100),
    real_name character varying(100) NOT NULL,
    location character varying(100) NOT NULL,
    social_links jsonb NOT NULL,
    role character varying(10) NOT NULL,
    phone_number character varying(20) NOT NULL,
    is_gamer boolean NOT NULL,
    is_developer boolean NOT NULL,
    is_investor boolean NOT NULL,
    gender character varying(20) NOT NULL,
    birth_date date,
    show_birth_date boolean NOT NULL,
    platforms jsonb NOT NULL,
    top_favorites jsonb NOT NULL,
    steam_id character varying(20) NOT NULL
);


ALTER TABLE public.api_user OWNER TO postgres;

--
-- Name: api_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.api_user_groups OWNER TO postgres;

--
-- Name: api_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_interests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_user_interests (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    interest_id bigint NOT NULL
);


ALTER TABLE public.api_user_interests OWNER TO postgres;

--
-- Name: api_user_interests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_user_interests ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_interests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.api_user_user_permissions OWNER TO postgres;

--
-- Name: api_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: core_game; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_game (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    cover_image character varying(100),
    release_date date,
    igdb_id integer
);


ALTER TABLE public.core_game OWNER TO postgres;

--
-- Name: core_game_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_game ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_game_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_investorcall; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_investorcall (
    id bigint NOT NULL,
    organization_name character varying(255) NOT NULL,
    investor_type character varying(20) NOT NULL,
    looking_for text NOT NULL,
    ticket_size character varying(100) NOT NULL,
    deadline date,
    created_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_investorcall OWNER TO postgres;

--
-- Name: core_investorcall_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_investorcall ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_investorcall_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_jobposting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_jobposting (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    job_type character varying(20) NOT NULL,
    location_type character varying(20) NOT NULL,
    experience_level character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    recruiter_id bigint NOT NULL,
    project_id bigint
);


ALTER TABLE public.core_jobposting OWNER TO postgres;

--
-- Name: core_jobposting_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_jobposting ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_jobposting_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_like; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_like (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    news_id bigint,
    post_id bigint,
    review_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_like OWNER TO postgres;

--
-- Name: core_like_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_like ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_like_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_news (
    id bigint NOT NULL,
    title character varying(500) NOT NULL,
    link character varying(1000) NOT NULL,
    image_url character varying(1000),
    description text NOT NULL,
    pub_date timestamp with time zone NOT NULL,
    category character varying(20) NOT NULL,
    source_id bigint NOT NULL
);


ALTER TABLE public.core_news OWNER TO postgres;

--
-- Name: core_news_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_news ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_news_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_newssource; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_newssource (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    rss_url character varying(200) NOT NULL,
    category character varying(20) NOT NULL,
    icon character varying(200)
);


ALTER TABLE public.core_newssource OWNER TO postgres;

--
-- Name: core_newssource_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_newssource ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_newssource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_pitch; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_pitch (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    genre character varying(20) NOT NULL,
    platform character varying(20) NOT NULL,
    funding_goal character varying(100) NOT NULL,
    stage character varying(20) NOT NULL,
    image character varying(100),
    pitch_deck_url character varying(200),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_pitch OWNER TO postgres;

--
-- Name: core_pitch_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_pitch ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_pitch_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_post; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_post (
    id bigint NOT NULL,
    content text NOT NULL,
    image character varying(100),
    "timestamp" timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    gif_url character varying(500),
    media_file character varying(100),
    media_type character varying(20),
    poll_options jsonb,
    parent_id bigint,
    review_parent_id bigint,
    news_parent_id bigint,
    project_parent_id bigint,
    title character varying(255)
);


ALTER TABLE public.core_post OWNER TO postgres;

--
-- Name: core_post_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_post ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_post_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_postmedia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_postmedia (
    id bigint NOT NULL,
    file character varying(100) NOT NULL,
    media_type character varying(20) NOT NULL,
    "order" integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    post_id bigint NOT NULL,
    CONSTRAINT core_postmedia_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.core_postmedia OWNER TO postgres;

--
-- Name: core_postmedia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_postmedia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_postmedia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_project (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    cover_image character varying(100),
    tech_stack jsonb NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    owner_id bigint NOT NULL
);


ALTER TABLE public.core_project OWNER TO postgres;

--
-- Name: core_project_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_project ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_project_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_review (
    id bigint NOT NULL,
    rating numeric(3,1) NOT NULL,
    content text NOT NULL,
    is_liked boolean NOT NULL,
    is_completed boolean NOT NULL,
    contains_spoilers boolean NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    game_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_review OWNER TO postgres;

--
-- Name: core_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_socialpost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_socialpost (
    id bigint NOT NULL,
    content text NOT NULL,
    image character varying(100),
    media_file character varying(100),
    media_type character varying(20),
    gif_url character varying(500),
    poll_options jsonb,
    created_at timestamp with time zone NOT NULL,
    parent_id bigint,
    review_parent_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_socialpost OWNER TO postgres;

--
-- Name: core_socialpost_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_socialpost ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_socialpost_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: news_news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_news (
    id bigint NOT NULL,
    title character varying(500) NOT NULL,
    link character varying(200) NOT NULL,
    image_url character varying(200),
    description text NOT NULL,
    pub_date timestamp with time zone NOT NULL,
    category character varying(50) NOT NULL,
    source_id bigint NOT NULL
);


ALTER TABLE public.news_news OWNER TO postgres;

--
-- Name: news_news_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.news_news ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_news_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: news_newssource; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_newssource (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    rss_url character varying(200) NOT NULL,
    category character varying(50) NOT NULL,
    icon character varying(200)
);


ALTER TABLE public.news_newssource OWNER TO postgres;

--
-- Name: news_newssource_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.news_newssource ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_newssource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: api_conversation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_conversation (id, created_at, updated_at) FROM stdin;
1	2025-12-04 10:53:16.881396+00	2025-12-17 12:17:15.639756+00
\.


--
-- Data for Name: api_conversation_participants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_conversation_participants (id, conversation_id, user_id) FROM stdin;
1	1	2
2	1	3
\.


--
-- Data for Name: api_follow; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_follow (id, created_at, follower_id, following_id) FROM stdin;
2	2025-12-17 12:16:43.368585+00	3	2
\.


--
-- Data for Name: api_interest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_interest (id, name, slug) FROM stdin;
1	RPG	rpg
2	FPS	fps
3	Strategy	strategy
4	News	news
5	Retro	retro
6	Horror	horror
7	Open World	open-world
8	Invest	invest
9	MMORPG	mmorpg
10	Indie	indie
\.


--
-- Data for Name: api_libraryentry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_message (id, content, is_read, created_at, conversation_id, sender_id) FROM stdin;
1	naber	t	2025-12-04 10:53:21.242282+00	1	3
2	ii	t	2025-12-17 12:17:15.636555+00	1	2
\.


--
-- Data for Name: api_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_notification (id, verb, target_id, is_read, created_at, actor_id, recipient_id, target_type_id) FROM stdin;
1	started following you	\N	t	2025-12-04 10:53:16.182439+00	3	2	\N
2	started following you	\N	t	2025-12-17 12:16:43.370555+00	3	2	\N
\.


--
-- Data for Name: api_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: api_user_interests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_user_interests (id, user_id, interest_id) FROM stdin;
1	2	1
2	2	2
3	2	3
4	2	4
5	2	5
6	2	6
7	2	7
8	3	4
9	3	8
10	4	8
11	5	9
12	5	10
\.


--
-- Data for Name: api_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
e6c49c00f9ab4ff6a646a7c2ec91bfe2382847f3	2025-12-04 10:48:18.578213+00	2
58acd10f40b02abcbbf13b64d48a77acbb0d0321	2025-12-04 10:53:09.084797+00	3
329d9bc158bae59cf78622f23c71ac91145d7804	2026-02-04 11:20:24.419049+00	4
9d1acb451878627db9b82096d42539ef8ebbf38f	2026-02-04 11:42:46.887707+00	5
\.


--
-- Data for Name: core_game; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_investorcall; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_jobposting; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_jobposting (id, title, description, job_type, location_type, experience_level, is_active, created_at, recruiter_id, project_id) FROM stdin;
\.


--
-- Data for Name: core_like; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_like (id, "timestamp", news_id, post_id, review_id, user_id) FROM stdin;
\.


--
-- Data for Name: core_news; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_newssource; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_newssource (id, name, rss_url, category, icon) FROM stdin;
2	Game Developer	https://www.gamedeveloper.com/rss.xml	devs	https://www.gamedeveloper.com/favicon.ico
3	Tom's Hardware	https://www.tomshardware.com/feeds/all	hardware	https://www.tomshardware.com/favicon.ico
5	IGN	https://www.ign.com/rss/articles/feed?tags=games	general	https://www.google.com/s2/favicons?domain=ign.com&sz=256
1	GamesIndustry.biz	https://www.gamesindustry.biz/feed	invest	https://www.google.com/s2/favicons?domain=gamesindustry.biz&sz=256
\.


--
-- Data for Name: core_pitch; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_post; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_postmedia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_postmedia (id, file, media_type, "order", created_at, post_id) FROM stdin;
\.


--
-- Data for Name: core_project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_project (id, title, description, cover_image, tech_stack, status, created_at, updated_at, owner_id) FROM stdin;
1	test	test	projects/├ğ├Âl_platform_k─▒r─▒lgan_png_1.png	["Unity"]	in_dev	2026-02-01 12:21:32.277863+00	2026-02-01 12:21:32.277898+00	2
\.


--
-- Data for Name: core_review; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_socialpost; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_socialpost (id, content, image, media_file, media_type, gif_url, poll_options, created_at, parent_id, review_parent_id, user_id) FROM stdin;
1	k			\N	\N	[]	2025-12-22 11:35:41.03828+00	\N	\N	2
2	b			\N	\N	[]	2025-12-22 11:35:50.621216+00	\N	10	2
3	z			\N	\N	[]	2025-12-22 11:35:59.799549+00	2	\N	2
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	authtoken	token
7	authtoken	tokenproxy
8	core	game
9	core	post
10	api	interest
11	api	user
12	api	notification
13	api	follow
14	api	conversation
15	api	message
16	api	libraryentry
17	api	review
18	core	review
19	news	newssource
20	news	news
21	core	socialpost
22	core	news
23	core	newssource
24	core	like
25	core	project
26	core	jobposting
27	core	postmedia
28	core	pitch
29	core	investorcall
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: news_news; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: news_newssource; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.news_newssource (id, name, rss_url, category, icon) FROM stdin;
1	GamesIndustry.biz	https://www.gamesindustry.biz/rss/gamesindustry/feed	Invest	https://www.gamesindustry.biz/img/logo.png
2	Game Developer	https://www.gamedeveloper.com/rss.xml	Devs	https://www.gamedeveloper.com/images/logo.png
3	Tom's Hardware	https://www.tomshardware.com/feeds/all	Hardware	https://cdn.mos.cms.futurecdn.net/8gzcr6RpGStvZFA2qRt4v6.jpg
4	IGN	https://www.ign.com/rss/articles/feed?tags=games	General	https://fr.ign.com/s/ign/social_logo.png
\.


--
-- Name: api_conversation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_conversation_id_seq', 1, true);


--
-- Name: api_conversation_participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_conversation_participants_id_seq', 2, true);


--
-- Name: api_follow_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_follow_id_seq', 2, true);


--
-- Name: api_interest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_interest_id_seq', 10, true);


--
-- Name: api_libraryentry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_libraryentry_id_seq', 44, true);


--
-- Name: api_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_message_id_seq', 2, true);


--
-- Name: api_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_notification_id_seq', 2, true);


--
-- Name: api_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_user_groups_id_seq', 1, false);


--
-- Name: api_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_user_id_seq', 5, true);


--
-- Name: api_user_interests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_user_interests_id_seq', 12, true);


--
-- Name: api_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 116, true);


--
-- Name: core_game_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_game_id_seq', 533, true);


--
-- Name: core_investorcall_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_investorcall_id_seq', 1, true);


--
-- Name: core_jobposting_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_jobposting_id_seq', 1, false);


--
-- Name: core_like_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_like_id_seq', 1, false);


--
-- Name: core_news_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_news_id_seq', 105, true);


--
-- Name: core_newssource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_newssource_id_seq', 6, true);


--
-- Name: core_pitch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_pitch_id_seq', 2, true);


--
-- Name: core_post_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_post_id_seq', 88, true);


--
-- Name: core_postmedia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_postmedia_id_seq', 1, false);


--
-- Name: core_project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_project_id_seq', 1, true);


--
-- Name: core_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_review_id_seq', 10, true);


--
-- Name: core_socialpost_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_socialpost_id_seq', 3, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 108, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 29, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 59, true);


--
-- Name: news_news_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_news_id_seq', 98, true);


--
-- Name: news_newssource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_newssource_id_seq', 4, true);


--
-- Name: api_conversation_participants api_conversation_partici_conversation_id_user_id_b632ff59_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_conversation_participants
    ADD CONSTRAINT api_conversation_partici_conversation_id_user_id_b632ff59_uniq UNIQUE (conversation_id, user_id);


--
-- Name: api_conversation_participants api_conversation_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_conversation_participants
    ADD CONSTRAINT api_conversation_participants_pkey PRIMARY KEY (id);


--
-- Name: api_conversation api_conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_conversation
    ADD CONSTRAINT api_conversation_pkey PRIMARY KEY (id);


--
-- Name: api_follow api_follow_follower_id_following_id_842b1cda_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_follow
    ADD CONSTRAINT api_follow_follower_id_following_id_842b1cda_uniq UNIQUE (follower_id, following_id);


--
-- Name: api_follow api_follow_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_follow
    ADD CONSTRAINT api_follow_pkey PRIMARY KEY (id);


--
-- Name: api_interest api_interest_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_interest
    ADD CONSTRAINT api_interest_name_key UNIQUE (name);


--
-- Name: api_interest api_interest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_interest
    ADD CONSTRAINT api_interest_pkey PRIMARY KEY (id);


--
-- Name: api_interest api_interest_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_interest
    ADD CONSTRAINT api_interest_slug_key UNIQUE (slug);


--
-- Name: api_libraryentry api_libraryentry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_libraryentry
    ADD CONSTRAINT api_libraryentry_pkey PRIMARY KEY (id);


--
-- Name: api_libraryentry api_libraryentry_user_id_game_id_d8c1547f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_libraryentry
    ADD CONSTRAINT api_libraryentry_user_id_game_id_d8c1547f_uniq UNIQUE (user_id, game_id);


--
-- Name: api_message api_message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_message
    ADD CONSTRAINT api_message_pkey PRIMARY KEY (id);


--
-- Name: api_notification api_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_notification
    ADD CONSTRAINT api_notification_pkey PRIMARY KEY (id);


--
-- Name: api_user_groups api_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_pkey PRIMARY KEY (id);


--
-- Name: api_user_groups api_user_groups_user_id_group_id_9c7ddfb5_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_user_id_group_id_9c7ddfb5_uniq UNIQUE (user_id, group_id);


--
-- Name: api_user_interests api_user_interests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_interests
    ADD CONSTRAINT api_user_interests_pkey PRIMARY KEY (id);


--
-- Name: api_user_interests api_user_interests_user_id_interest_id_887c9ae4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_interests
    ADD CONSTRAINT api_user_interests_user_id_interest_id_887c9ae4_uniq UNIQUE (user_id, interest_id);


--
-- Name: api_user api_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user
    ADD CONSTRAINT api_user_pkey PRIMARY KEY (id);


--
-- Name: api_user_user_permissions api_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: api_user_user_permissions api_user_user_permissions_user_id_permission_id_a06dd704_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_user_id_permission_id_a06dd704_uniq UNIQUE (user_id, permission_id);


--
-- Name: api_user api_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user
    ADD CONSTRAINT api_user_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: core_game core_game_igdb_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_game
    ADD CONSTRAINT core_game_igdb_id_key UNIQUE (igdb_id);


--
-- Name: core_game core_game_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_game
    ADD CONSTRAINT core_game_pkey PRIMARY KEY (id);


--
-- Name: core_investorcall core_investorcall_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_investorcall
    ADD CONSTRAINT core_investorcall_pkey PRIMARY KEY (id);


--
-- Name: core_jobposting core_jobposting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_jobposting
    ADD CONSTRAINT core_jobposting_pkey PRIMARY KEY (id);


--
-- Name: core_like core_like_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_like
    ADD CONSTRAINT core_like_pkey PRIMARY KEY (id);


--
-- Name: core_like core_like_user_id_news_id_f5636daf_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_like
    ADD CONSTRAINT core_like_user_id_news_id_f5636daf_uniq UNIQUE (user_id, news_id);


--
-- Name: core_like core_like_user_id_post_id_c54f3a92_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_like
    ADD CONSTRAINT core_like_user_id_post_id_c54f3a92_uniq UNIQUE (user_id, post_id);


--
-- Name: core_like core_like_user_id_review_id_d091cb73_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_like
    ADD CONSTRAINT core_like_user_id_review_id_d091cb73_uniq UNIQUE (user_id, review_id);


--
-- Name: core_news core_news_link_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_news
    ADD CONSTRAINT core_news_link_key UNIQUE (link);


--
-- Name: core_news core_news_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_news
    ADD CONSTRAINT core_news_pkey PRIMARY KEY (id);


--
-- Name: core_newssource core_newssource_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_newssource
    ADD CONSTRAINT core_newssource_pkey PRIMARY KEY (id);


--
-- Name: core_pitch core_pitch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_pitch
    ADD CONSTRAINT core_pitch_pkey PRIMARY KEY (id);


--
-- Name: core_post core_post_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_post
    ADD CONSTRAINT core_post_pkey PRIMARY KEY (id);


--
-- Name: core_postmedia core_postmedia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_postmedia
    ADD CONSTRAINT core_postmedia_pkey PRIMARY KEY (id);


--
-- Name: core_project core_project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_project
    ADD CONSTRAINT core_project_pkey PRIMARY KEY (id);


--
-- Name: core_review core_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_review
    ADD CONSTRAINT core_review_pkey PRIMARY KEY (id);


--
-- Name: core_review core_review_user_id_game_id_678cde6c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_review
    ADD CONSTRAINT core_review_user_id_game_id_678cde6c_uniq UNIQUE (user_id, game_id);


--
-- Name: core_socialpost core_socialpost_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_socialpost
    ADD CONSTRAINT core_socialpost_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: news_news news_news_link_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_news
    ADD CONSTRAINT news_news_link_key UNIQUE (link);


--
-- Name: news_news news_news_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_news
    ADD CONSTRAINT news_news_pkey PRIMARY KEY (id);


--
-- Name: news_newssource news_newssource_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_newssource
    ADD CONSTRAINT news_newssource_pkey PRIMARY KEY (id);


--
-- Name: api_conversation_participants_conversation_id_b5748151; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_conversation_participants_conversation_id_b5748151 ON public.api_conversation_participants USING btree (conversation_id);


--
-- Name: api_conversation_participants_user_id_9ea3ccd8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_conversation_participants_user_id_9ea3ccd8 ON public.api_conversation_participants USING btree (user_id);


--
-- Name: api_follow_follower_id_e783f744; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_follow_follower_id_e783f744 ON public.api_follow USING btree (follower_id);


--
-- Name: api_follow_following_id_835a2911; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_follow_following_id_835a2911 ON public.api_follow USING btree (following_id);


--
-- Name: api_interest_name_462e0a43_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_interest_name_462e0a43_like ON public.api_interest USING btree (name varchar_pattern_ops);


--
-- Name: api_interest_slug_77c196be_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_interest_slug_77c196be_like ON public.api_interest USING btree (slug varchar_pattern_ops);


--
-- Name: api_libraryentry_game_id_08c96742; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_libraryentry_game_id_08c96742 ON public.api_libraryentry USING btree (game_id);


--
-- Name: api_libraryentry_user_id_b86c45f0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_libraryentry_user_id_b86c45f0 ON public.api_libraryentry USING btree (user_id);


--
-- Name: api_message_conversation_id_e0f0e1a5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_message_conversation_id_e0f0e1a5 ON public.api_message USING btree (conversation_id);


--
-- Name: api_message_sender_id_fa6d8ff2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_message_sender_id_fa6d8ff2 ON public.api_message USING btree (sender_id);


--
-- Name: api_notification_actor_id_2105623d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_notification_actor_id_2105623d ON public.api_notification USING btree (actor_id);


--
-- Name: api_notification_recipient_id_ad4ce955; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_notification_recipient_id_ad4ce955 ON public.api_notification USING btree (recipient_id);


--
-- Name: api_notification_target_type_id_149f8641; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_notification_target_type_id_149f8641 ON public.api_notification USING btree (target_type_id);


--
-- Name: api_user_groups_group_id_3af85785; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_groups_group_id_3af85785 ON public.api_user_groups USING btree (group_id);


--
-- Name: api_user_groups_user_id_a5ff39fa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_groups_user_id_a5ff39fa ON public.api_user_groups USING btree (user_id);


--
-- Name: api_user_interests_interest_id_65b263b0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_interests_interest_id_65b263b0 ON public.api_user_interests USING btree (interest_id);


--
-- Name: api_user_interests_user_id_5d7816c8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_interests_user_id_5d7816c8 ON public.api_user_interests USING btree (user_id);


--
-- Name: api_user_user_permissions_permission_id_305b7fea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_user_permissions_permission_id_305b7fea ON public.api_user_user_permissions USING btree (permission_id);


--
-- Name: api_user_user_permissions_user_id_f3945d65; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_user_permissions_user_id_f3945d65 ON public.api_user_user_permissions USING btree (user_id);


--
-- Name: api_user_username_cf4e88d2_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_username_cf4e88d2_like ON public.api_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: core_investorcall_user_id_4e5a8f64; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_investorcall_user_id_4e5a8f64 ON public.core_investorcall USING btree (user_id);


--
-- Name: core_jobposting_project_id_25bc3119; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_jobposting_project_id_25bc3119 ON public.core_jobposting USING btree (project_id);


--
-- Name: core_jobposting_recruiter_id_5a977714; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_jobposting_recruiter_id_5a977714 ON public.core_jobposting USING btree (recruiter_id);


--
-- Name: core_like_news_id_1801adbf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_like_news_id_1801adbf ON public.core_like USING btree (news_id);


--
-- Name: core_like_post_id_83b37050; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_like_post_id_83b37050 ON public.core_like USING btree (post_id);


--
-- Name: core_like_review_id_f94f5d3b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_like_review_id_f94f5d3b ON public.core_like USING btree (review_id);


--
-- Name: core_like_user_id_0580bca0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_like_user_id_0580bca0 ON public.core_like USING btree (user_id);


--
-- Name: core_news_category_d7d0d827; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_news_category_d7d0d827 ON public.core_news USING btree (category);


--
-- Name: core_news_category_d7d0d827_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_news_category_d7d0d827_like ON public.core_news USING btree (category varchar_pattern_ops);


--
-- Name: core_news_link_58e94f1b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_news_link_58e94f1b_like ON public.core_news USING btree (link varchar_pattern_ops);


--
-- Name: core_news_source_id_6c2a8bc7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_news_source_id_6c2a8bc7 ON public.core_news USING btree (source_id);


--
-- Name: core_pitch_user_id_1ab427bb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_pitch_user_id_1ab427bb ON public.core_pitch USING btree (user_id);


--
-- Name: core_post_news_parent_id_dce9bc82; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_post_news_parent_id_dce9bc82 ON public.core_post USING btree (news_parent_id);


--
-- Name: core_post_parent_id_f52ad6c0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_post_parent_id_f52ad6c0 ON public.core_post USING btree (parent_id);


--
-- Name: core_post_project_parent_id_1df25485; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_post_project_parent_id_1df25485 ON public.core_post USING btree (project_parent_id);


--
-- Name: core_post_review_parent_id_6b551e60; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_post_review_parent_id_6b551e60 ON public.core_post USING btree (review_parent_id);


--
-- Name: core_post_user_id_ae5590f8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_post_user_id_ae5590f8 ON public.core_post USING btree (user_id);


--
-- Name: core_postmedia_post_id_f80e6f93; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_postmedia_post_id_f80e6f93 ON public.core_postmedia USING btree (post_id);


--
-- Name: core_project_owner_id_26945739; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_project_owner_id_26945739 ON public.core_project USING btree (owner_id);


--
-- Name: core_review_game_id_de1193b8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_review_game_id_de1193b8 ON public.core_review USING btree (game_id);


--
-- Name: core_review_user_id_b6106194; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_review_user_id_b6106194 ON public.core_review USING btree (user_id);


--
-- Name: core_socialpost_parent_id_e2d56ef6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_socialpost_parent_id_e2d56ef6 ON public.core_socialpost USING btree (parent_id);


--
-- Name: core_socialpost_review_parent_id_1f4b19f7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_socialpost_review_parent_id_1f4b19f7 ON public.core_socialpost USING btree (review_parent_id);


--
-- Name: core_socialpost_user_id_16f30fa3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_socialpost_user_id_16f30fa3 ON public.core_socialpost USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: news_news_link_b46db709_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_news_link_b46db709_like ON public.news_news USING btree (link varchar_pattern_ops);


--
-- Name: news_news_source_id_b0aad86d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_news_source_id_b0aad86d ON public.news_news USING btree (source_id);


--
-- Name: api_conversation_participants api_conversation_par_conversation_id_b5748151_fk_api_conve; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_conversation_participants
    ADD CONSTRAINT api_conversation_par_conversation_id_b5748151_fk_api_conve FOREIGN KEY (conversation_id) REFERENCES public.api_conversation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_conversation_participants api_conversation_participants_user_id_9ea3ccd8_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_conversation_participants
    ADD CONSTRAINT api_conversation_participants_user_id_9ea3ccd8_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_follow api_follow_follower_id_e783f744_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_follow
    ADD CONSTRAINT api_follow_follower_id_e783f744_fk_api_user_id FOREIGN KEY (follower_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_follow api_follow_following_id_835a2911_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_follow
    ADD CONSTRAINT api_follow_following_id_835a2911_fk_api_user_id FOREIGN KEY (following_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_libraryentry api_libraryentry_game_id_08c96742_fk_core_game_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_libraryentry
    ADD CONSTRAINT api_libraryentry_game_id_08c96742_fk_core_game_id FOREIGN KEY (game_id) REFERENCES public.core_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_libraryentry api_libraryentry_user_id_b86c45f0_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_libraryentry
    ADD CONSTRAINT api_libraryentry_user_id_b86c45f0_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_message api_message_conversation_id_e0f0e1a5_fk_api_conversation_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_message
    ADD CONSTRAINT api_message_conversation_id_e0f0e1a5_fk_api_conversation_id FOREIGN KEY (conversation_id) REFERENCES public.api_conversation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_message api_message_sender_id_fa6d8ff2_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_message
    ADD CONSTRAINT api_message_sender_id_fa6d8ff2_fk_api_user_id FOREIGN KEY (sender_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_notification api_notification_actor_id_2105623d_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_notification
    ADD CONSTRAINT api_notification_actor_id_2105623d_fk_api_user_id FOREIGN KEY (actor_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_notification api_notification_recipient_id_ad4ce955_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_notification
    ADD CONSTRAINT api_notification_recipient_id_ad4ce955_fk_api_user_id FOREIGN KEY (recipient_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_notification api_notification_target_type_id_149f8641_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_notification
    ADD CONSTRAINT api_notification_target_type_id_149f8641_fk_django_co FOREIGN KEY (target_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_groups api_user_groups_group_id_3af85785_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_group_id_3af85785_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_groups api_user_groups_user_id_a5ff39fa_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_user_id_a5ff39fa_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_interests api_user_interests_interest_id_65b263b0_fk_api_interest_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_interests
    ADD CONSTRAINT api_user_interests_interest_id_65b263b0_fk_api_interest_id FOREIGN KEY (interest_id) REFERENCES public.api_interest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_interests api_user_interests_user_id_5d7816c8_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_interests
    ADD CONSTRAINT api_user_interests_user_id_5d7816c8_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_user_permissions api_user_user_permis_permission_id_305b7fea_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permis_permission_id_305b7fea_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_user_permissions api_user_user_permissions_user_id_f3945d65_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_user_id_f3945d65_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_investorcall core_investorcall_user_id_4e5a8f64_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_investorcall
    ADD CONSTRAINT core_investorcall_user_id_4e5a8f64_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_jobposting core_jobposting_project_id_25bc3119_fk_core_project_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_jobposting
    ADD CONSTRAINT core_jobposting_project_id_25bc3119_fk_core_project_id FOREIGN KEY (project_id) REFERENCES public.core_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_jobposting core_jobposting_recruiter_id_5a977714_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_jobposting
    ADD CONSTRAINT core_jobposting_recruiter_id_5a977714_fk_api_user_id FOREIGN KEY (recruiter_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_like core_like_news_id_1801adbf_fk_core_news_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_like
    ADD CONSTRAINT core_like_news_id_1801adbf_fk_core_news_id FOREIGN KEY (news_id) REFERENCES public.core_news(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_like core_like_post_id_83b37050_fk_core_post_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_like
    ADD CONSTRAINT core_like_post_id_83b37050_fk_core_post_id FOREIGN KEY (post_id) REFERENCES public.core_post(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_like core_like_review_id_f94f5d3b_fk_core_review_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_like
    ADD CONSTRAINT core_like_review_id_f94f5d3b_fk_core_review_id FOREIGN KEY (review_id) REFERENCES public.core_review(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_like core_like_user_id_0580bca0_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_like
    ADD CONSTRAINT core_like_user_id_0580bca0_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_news core_news_source_id_6c2a8bc7_fk_core_newssource_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_news
    ADD CONSTRAINT core_news_source_id_6c2a8bc7_fk_core_newssource_id FOREIGN KEY (source_id) REFERENCES public.core_newssource(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_pitch core_pitch_user_id_1ab427bb_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_pitch
    ADD CONSTRAINT core_pitch_user_id_1ab427bb_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_post core_post_news_parent_id_dce9bc82_fk_core_news_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_post
    ADD CONSTRAINT core_post_news_parent_id_dce9bc82_fk_core_news_id FOREIGN KEY (news_parent_id) REFERENCES public.core_news(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_post core_post_parent_id_f52ad6c0_fk_core_post_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_post
    ADD CONSTRAINT core_post_parent_id_f52ad6c0_fk_core_post_id FOREIGN KEY (parent_id) REFERENCES public.core_post(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_post core_post_project_parent_id_1df25485_fk_core_project_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_post
    ADD CONSTRAINT core_post_project_parent_id_1df25485_fk_core_project_id FOREIGN KEY (project_parent_id) REFERENCES public.core_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_post core_post_review_parent_id_6b551e60_fk_core_review_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_post
    ADD CONSTRAINT core_post_review_parent_id_6b551e60_fk_core_review_id FOREIGN KEY (review_parent_id) REFERENCES public.core_review(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_post core_post_user_id_ae5590f8_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_post
    ADD CONSTRAINT core_post_user_id_ae5590f8_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_postmedia core_postmedia_post_id_f80e6f93_fk_core_post_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_postmedia
    ADD CONSTRAINT core_postmedia_post_id_f80e6f93_fk_core_post_id FOREIGN KEY (post_id) REFERENCES public.core_post(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_project core_project_owner_id_26945739_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_project
    ADD CONSTRAINT core_project_owner_id_26945739_fk_api_user_id FOREIGN KEY (owner_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_review core_review_game_id_de1193b8_fk_core_game_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_review
    ADD CONSTRAINT core_review_game_id_de1193b8_fk_core_game_id FOREIGN KEY (game_id) REFERENCES public.core_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_review core_review_user_id_b6106194_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_review
    ADD CONSTRAINT core_review_user_id_b6106194_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_socialpost core_socialpost_parent_id_e2d56ef6_fk_core_socialpost_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_socialpost
    ADD CONSTRAINT core_socialpost_parent_id_e2d56ef6_fk_core_socialpost_id FOREIGN KEY (parent_id) REFERENCES public.core_socialpost(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_socialpost core_socialpost_review_parent_id_1f4b19f7_fk_core_review_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_socialpost
    ADD CONSTRAINT core_socialpost_review_parent_id_1f4b19f7_fk_core_review_id FOREIGN KEY (review_parent_id) REFERENCES public.core_review(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_socialpost core_socialpost_user_id_16f30fa3_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_socialpost
    ADD CONSTRAINT core_socialpost_user_id_16f30fa3_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: news_news news_news_source_id_b0aad86d_fk_news_newssource_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_news
    ADD CONSTRAINT news_news_source_id_b0aad86d_fk_news_newssource_id FOREIGN KEY (source_id) REFERENCES public.news_newssource(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 74gB5dsTQNa8duoEkLidcHKSae7vaOpymAVuv6BadlTguQ7dNO9Lar9wnK1akXK

